:root{
    --bg-color: hsl(185, 41%, 84%);
    --ch-bcolor: hsl(0, 0%, 100%);
    --co-bcolor : hsl(183, 100%, 15%);
    --fo-color : hsl(184, 14%, 43%);
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.ttf');
}

*{
    font-family: 'Space Mono', monospace;
}

body{
    margin: 0px;
    background-color: var(--bg-color); 
    margin: 100px 20% 0px 20%;
}

.title p{
    word-wrap: break-word;
    text-align: center;
    width: 90px;
    letter-spacing: 0.5rem;
    font-weight: bold;
    margin: auto;
    padding-bottom: 30px;
    color: var(--fo-color);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container_hold{
    display: flex;
    height: 300px;
    background-color: var(--ch-bcolor);
    padding: 30px;
    border-radius: 25px;
}

.container_hold div{
    text-align: center;
    border-radius: 25px;
}



.container_output{
    background-color: var(--co-bcolor);
}

@media screen and (min-width: 1440px){
    .container_hold div{
        flex-grow: 1;
    }
}

@media screen and (max-width: 370px){
    body{
        margin: 20px 0% 0% 0%;
        padding: 0;
        
    }
    .container_hold {
        flex-direction: column;
        height: 540px;
        justify-content: flex-start;
    }

    .container_hold div{
        text-align: center;
        border-radius: 25px;
    }

    .container_input{
       flex-grow: 2;
    }
    .container_output{
        flex-grow: 1.5;
    }
}